{% extends 'base.html.twig' %}

{% block body %}
    <h3 style="color: fuchsia"> Quelqu\'un vient de réserver {{ reservation.nbReservedSeats }} place(s) sur votre vole {{ reservation.flight }}.<br/>Merci de voyager avec Flyaround</h3>
{% endblock %}