{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>text</th>
            <th>publicationDate</th>
            <th>note</th>
            <th>user rated id</th>
            <th>review author id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('review_new') }}">Create a new review</a>
        </li>
    </ul>
{% endblock %}